// "off" or 0 - turn the rule off
// "warn" or 1 - turn the rule on as a warning (doesn't affect exit code)
// "error" or 2 - turn the rule on as an error (exit code is 1 when triggered)
{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "allowKeywords": "off",
    "dot-notation": "off",
    "eol-last": ["error", "never"]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}